#root {
  margin: 0 auto;
  padding: 2rem;
  background-color: rgb(145, 206, 255);
}

.item_container { 
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); 
  gap: 1rem; 
  flex: 1; 
}

.img { 
  width: 150px;
  height: 150px; 
  object-fit: cover; 
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

.card:hover {
  filter: drop-shadow(0 0 1em #646cffaa);
}

.card.react:hover {
  filter: drop-shadow(0 0 1em #61dafbaa);
}

.card { 
  padding: 0.5em; 
  background-color: rgb(213, 231, 248); 
  width: 180px;
}

.layout_container {
  display: flex; 
  justify-content: space-between; 
  align-items: flex-start; 
  padding: 20px; 
  gap: 40px;
}

.align_right { 
  width: 300px; 
  flex-shrink: 0;
}
